.avatar {
  @include border-radius(50%);

  background-color: black;
  display: inline-block;
  height: rhythm(2);
  width: rhythm(2);
  overflow: hidden;

  &.small {
    height: rhythm(1);
    width: rhythm(1);
  }

  &.large {
    height: rhythm(3);
    width: rhythm(3);
  }
}
