.progress-bar-container {
  width: 100%;
}

.progress-bar-background {
  background-color: $color-white;
  border: 1px solid black;
  height: rhythm(2);
  width: 100%;
}

.progress-bar-progress {
  background-color: $font-color;
  height: rhythm(2);
}
