.affirmations-container
  = render 'affirmations/form', goal: @goal, affirmation: Affirmation.new

  Affirmations:
  - if @goal.affirmations.empty?
    No one has helped yet T___T
  - else
    .affirmations-list
      - @goal.affirmations.each do |affirmation|
        = render 'affirmations/show', affirmation: affirmation
