body {
  background-color: $background-color;
  color: $font-color;
  font-family: times, serif;
  text-align: center;
}

a {
  color: $link-color;
  font-style: italic;
  text-decoration: none;
}

input[type=text],
input[type=number],
textarea {
  @include adjust-font-size-to(20px);
  border: none;
  text-align: center;
}
