$color-white: #fffcfc;
$color-black: #333;
$color-blue:  #4361db;
$color-blue-dark: #2215ba;



$background-color: $color-white;
$border-color: #fff;
$border-color-dark: $color-blue-dark;
$font-color: $color-black;
$link-color: $color-blue;
