header {
  @include trailer(1);

  background-color: $background-color;
  border-bottom: rhythm(1 / 2) solid $border-color-dark;
  position: fixed;
  width: 100%;
}

nav {
  width: 60%;
  margin: auto;
}

.nav-home-link {
  float: left;
}

.nav-my-goals {
  float: right;
}

.nav-user-bubble {
  margin: auto;
  width: 5em;
}
